body {
    margin: 0;
    padding: 0;
    height: 95vh;
}

main>* {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 20vh;
}

h1 {
    color: whitesmoke;
    z-index: 1;
    text-align: center;

}

img {
    width: 100vw;
    height: 20vh;
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.question {
    width: 100vw;
    height: 5vh;
    text-align: center;
    color: black;
}

.answers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50vh;
    width: 100vw;
}

.answer {
    background-color: rgb(234, 182, 118);
    height: 25vh;
    width: 45vw;
    margin-bottom: 1vh;
    border-radius: 2vw;
    color: whitesmoke;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: calc(100vw/25);
    margin: 1vh;
    margin-top: 0;
}

.score {
    height: 5vh;
    width: auto;
    background-color: rgb(234, 182, 118);
    color: whitesmoke;
    text-align: center;

}

.points {
    width: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.points>* {
    height: 5vh;
    background-color: brown;
    border-radius: 10%;

}

#timer {
    color: whitesmoke;
    vertical-align: center;
}

footer {
    height: 5vh;
    width: 100vw;
    color: whitesmoke;
    position: fixed;
    bottom: 0;
    background-color: rgb(234, 182, 118);
}